In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/06/24 11:41:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/06/24 11:42:00 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/06/24 11:42:00 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/06/24 11:42:00 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [3]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)
df_pyspark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Bayardo| 24|         2|  1000|
| Marian| 17|         0|     0|
|  Pablo| 56|        30|  6000|
|Coralia| 50|         1|     0|
+-------+---+----------+------+

In [4]:
# Salary of the people less than or equal to 2000
df_pyspark.filter('Salary < 2000').show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Bayardo| 24|         2|  1000|
| Marian| 17|         0|     0|
|Coralia| 50|         1|     0|
+-------+---+----------+------+

In [5]:
df_pyspark.filter('Salary <= 2000').select(['Name', 'Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|Bayardo| 24|
| Marian| 17|
|Coralia| 50|
+-------+---+

In [6]:
df_pyspark.filter(df_pyspark['Salary'] <= 2000).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Bayardo| 24|         2|  1000|
| Marian| 17|         0|     0|
|Coralia| 50|         1|     0|
+-------+---+----------+------+

In [9]:
df_pyspark.filter((df_pyspark['Salary'] <= 2000) & (df_pyspark['Salary'] >= 500)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|Bayardo| 24|         2|  1000|
+-------+---+----------+------+

In [10]:
df_pyspark.filter(~(df_pyspark['Salary'] <= 2000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Pablo| 56|        30|  6000|
+-----+---+----------+------+