In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practice').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/06/24 10:59:32 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/06/24 10:59:33 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/06/24 10:59:33 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [5]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)

In [6]:
df_pyspark.show()

+-------+---+
|   Name|Age|
+-------+---+
|Bayardo| 24|
| Marian| 17|
|  Pablo| 56|
|Coralia| 50|
+-------+---+

In [9]:
# drop the columns
df_pyspark.drop('Name').show()

+---+
|Age|
+---+
| 24|
| 17|
| 56|
| 50|
+---+

In [10]:
# deletes rows with null values
df_pyspark.na.drop().show()

+-------+---+
|   Name|Age|
+-------+---+
|Bayardo| 24|
| Marian| 17|
|  Pablo| 56|
|Coralia| 50|
+-------+---+

In [11]:
# drops the row if it finds one row
df_pyspark.na.drop(how='any').show()
#drops the row if all the values in the row are null
df_pyspark.na.drop(how='all').show()

+-------+---+
|   Name|Age|
+-------+---+
|Bayardo| 24|
| Marian| 17|
|  Pablo| 56|
|Coralia| 50|
+-------+---+

+-------+---+
|   Name|Age|
+-------+---+
|Bayardo| 24|
| Marian| 17|
|  Pablo| 56|
|Coralia| 50|
+-------+---+

In [14]:
# threshold: if at most 2 null values are found, keep the row
df_pyspark.na.drop(how='any', thresh=2).show()

+-------+---+
|   Name|Age|
+-------+---+
|Bayardo| 24|
| Marian| 17|
|  Pablo| 56|
|Coralia| 50|
+-------+---+

In [15]:
# subset: drop nan values only in a specific column
df_pyspark.na.drop(how='any', subset=['Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|Bayardo| 24|
| Marian| 17|
|  Pablo| 56|
|Coralia| 50|
+-------+---+

In [16]:
# replace nan values with specified value
df_pyspark.na.fill('Missing Values', ['Age', 'Name']).show()

+-------+---+
|   Name|Age|
+-------+---+
|Bayardo| 24|
| Marian| 17|
|  Pablo| 56|
|Coralia| 50|
+-------+---+

In [17]:
df_pyspark.show()

+-------+---+
|   Name|Age|
+-------+---+
|Bayardo| 24|
| Marian| 17|
|  Pablo| 56|
|Coralia| 50|
+-------+---+

In [22]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Age'],
    outputCols=["{}_imputed".format(column_name) for column_name in ['Age']]
).setStrategy('mean')

In [23]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+---+-----------+
|   Name|Age|Age_imputed|
+-------+---+-----------+
|Bayardo| 24|         24|
| Marian| 17|         17|
|  Pablo| 56|         56|
|Coralia| 50|         50|
+-------+---+-----------+