In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/06/24 09:23:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/06/24 09:23:01 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
spark

In [8]:
# read the dataset
df_pyspark = spark.read.option('header', 'true').csv('test1.csv', inferSchema=True)

In [9]:
# check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [10]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)
df_pyspark.show()

+-------+---+
|   Name|Age|
+-------+---+
|Bayardo| 24|
| Marian| 17|
|  Pablo| 56|
|Coralia| 50|
+-------+---+

In [11]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_pyspark.show()

+-------+---+
|   Name|Age|
+-------+---+
|Bayardo| 24|
| Marian| 17|
|  Pablo| 56|
|Coralia| 50|
+-------+---+

In [14]:
df_pyspark.select('Name').show()

+-------+
|   Name|
+-------+
|Bayardo|
| Marian|
|  Pablo|
|Coralia|
+-------+

In [15]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string]

In [16]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]

In [23]:
df_pyspark = df_pyspark.withColumn('Experience', df_pyspark['Age'] / 17)

In [24]:
df_pyspark.show()

+-------+---+------------------+
|   Name|Age|        Experience|
+-------+---+------------------+
|Bayardo| 24| 1.411764705882353|
| Marian| 17|               1.0|
|  Pablo| 56|3.2941176470588234|
|Coralia| 50|2.9411764705882355|
+-------+---+------------------+

In [25]:
df_pyspark.withColumnRenamed('Experience', 'Experience in years').show()

+-------+---+-------------------+
|   Name|Age|Experience in years|
+-------+---+-------------------+
|Bayardo| 24|  1.411764705882353|
| Marian| 17|                1.0|
|  Pablo| 56| 3.2941176470588234|
|Coralia| 50| 2.9411764705882355|
+-------+---+-------------------+